<h1>This is Diego's first public blog</h1>
	<p>Feel free to post WHATEVER YOU WANT. Don't worry it's anonymous</p>
	<p>You can post, edit and view posts. But only I can delete</p>

<%= link_to 'My Blog', controller: 'articles' %>